# Framework
fastapi
starlette
python-multipart
itsdangerous
orjson
pydantic[dotenv, email]
click
filelock

# Web server
uvicorn[standard]
gunicorn

# Database
pymongo
motor

# Dictionaries
lxml
rdflib
rdflib-jsonld
httpx
